* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f6f0eb;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 121px;
  background-color: white;
  box-shadow: 0 0 9px 5px #00000036;
}
.main-logo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 4px;
}
.main-logo .logo {
  width: 65px;
  cursor: pointer;
}
.main-logo .design-text {
  animation: animate 5s ease-in-out infinite;
  transform: translateX(-50px);
}
@keyframes animate {
  100% {
    transform: translateX(50px);
  }
}
.nav-bar ul {
  list-style-type: none;
  margin-left: 35px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar ul li {
  display: inline;
}
.nav-bar ul li:hover {
  transform: translateY(-2px);
}
.nav-bar ul li a {
  text-decoration: none;
  color: #492118;
  font-weight: 700;
  font-size: 20px;
  margin-left: 60px;
}
.nav-bar ul li a:hover {
  border-bottom: 3px solid #fe8331;
}
.hamburger-container {
  position: relative;
  background-color: #fff;
  width: 85px;
  height: 85px;
  border-bottom-left-radius: 100%;
  border: 2px solid #fe8331;
  box-shadow: 0 0 2px #ffc096, 0 0 4px #ffc096, 0 0 8px #ffc096, 0 0 8px #ffc096;
  margin-right: 35px;
  margin-top: 35px;
  display: none;
}
.hamburger {
  position: absolute;
  top: 105px;
  left: 28px;
  display: none;
}
.hamburger .row {
  position: absolute;
  margin-top: 15px;
  top: 30px;
  right: 30px;
  width: 23px;
  border: 1px solid #492118;
  border-radius: 50px;
}
.hamburger #bar-1 {
  top: 7px;
}
.hamburger #bar-2 {
  top: 14px;
}
.hamburger #bar-3 {
  top: 21px;
}
.banner {
  display: flex;
  justify-content: center;
}
.banner img {
  margin: 115px 75px 0 75px;
  width: 90%;
  /* box-shadow: 0 0 10px rgb(81, 81, 81), 0 0 20px rgb(87, 87, 87); */
}
.banner-paragraph {
  font-size: 24px;
  color: #492118;
  text-align: center;
  margin-top: 25px;
}
.title {
  color: #492118;
  font-size: 48px;
  text-align: center;
  margin-top: 198px;
}
.title-pics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-pics img {
  margin: 66px 200px 0 200px;
  width: 1000px;
  height: 694px;
}
.mar-top {
  margin-top: 160px;
}
.bottom-link {
  text-align: right;
  margin-top: 90px;
  margin-right: 135px;
}
.bottom-link a {
  color: #492118;
  font-size: 26px;
  font-weight: 700;
}
.bottom-link a:hover {
  text-decoration: none;
}
.made-with {
  margin: 110px 0 20px;
  text-align: center;
  font-size: 24px;
  color: #858585;
  font-weight: 500;
}
.made-with .heart {
  color: rgb(224, 0, 0);
  text-shadow: 0 0 3px red;
}
.made-with .my-name {
  color: #492118;
  font-weight: 700;
}
/**************************** Media Query *************************************/
@media (max-width: 768px) {
  header {
    background-color: transparent;
    box-shadow: 0 0;
    justify-content: space-between;
  }
  .main-logo {
    margin-top: 100px;
    overflow: visible;
    margin-left: 35px;
  }
  .main-logo .logo {
    margin-top: -70px;
    width: 75px;
    height: 90px;
  }
  .main-logo :nth-child(1) {
    margin-bottom: 4px;
  }
  .main-logo :nth-child(3) {
    margin-bottom: -2px;
  }
  .main-logo .design-text {
    animation: animate 3s ease-out infinite;
    transform: translateY(-30px);
    opacity: 0;
  }
  @keyframes animate {
    100% {
      transform: translateY(0px) rotate(360deg);
      opacity: 1;
    }
  }
  .hamburger-container {
    display: block;
  }
  .hamburger {
    display: block;
    z-index: 1;
  }
  .hamburger .row {
    margin-top: -90px;
    right: -32px;
    transition: transform 0.3s, opacity 0.3s;
  }
  .nav-bar {
    position: absolute;
    top: 34px;
    right: 35px;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    width: 280px;
    height: 295px;
    padding: 40px 0px;
  }
  .nav-bar ul {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    list-style-type: none;
    margin-right: 0px;
    margin-top: -10px;
  }
  .nav-bar ul li {
    display: block;
    margin-bottom: 25px;
  }
  .nav-bar ul li a {
    text-decoration: none;
    color: #492118;
    font-weight: 700;
    font-size: 16px;
    margin-left: 0px;
  }
  .nav-bar.active {
    display: block;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .banner img {
    margin: 115px 32px 0 32px;
    width: 85%;
    margin-top: 90px;
    z-index: -2;
  }
  .banner-paragraph {
    font-size: 20px;
  }
  .title {
    margin-top: 100px;
    font-size: 30px;
  }
  .title-pics img {
    margin-top: 32px;
    margin: 28px 50px 0 50px;
    width: 600px;
    height: 394px;
  }
  .mar-top {
    margin-top: 100px;
  }
  .bottom-link {
    margin-top: 70px;
    margin-right: 90px;
  }
  .bottom-link a {
    font-size: 22px;
  }
  .made-with {
    font-size: 18px;
    margin-top: 90px;
  }
  .hamburger.active #bar-2 {
    opacity: 0;
  }
  .hamburger.active #bar-1 {
    transform: rotate(45deg);
    top: 10px;
  }
  .hamburger.active #bar-3 {
    transform: rotate(-45deg);
    top: 10px;
  }
}
